body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.informe {
    border: 1px solid #000;
    padding: 10px;
    margin: 20px 0;
    margin-left: 15%;
    text-align: center;
}

.informe h2 {
    margin: 0;
}

.canvas-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;
}

canvas {
    margin-right: 10px; /* Espacio entre los canvas */
}

.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #86868660;
    padding-top: 20px;
    text-align: center;

}
.slider {
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    
}