/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #2c4f63;
    font-weight: 700;
}


.contenedor-global {
    width: 100%;
    height: 100%;
}


.contenedor-superior {
    display: flex;
    justify-content: space-between;
    height: 50%;
    flex: 1;
    
}

.contenedor-superiorizq {
    width: 20%;
    text-align: left;
    margin-left: 3ch;
    
}

.contenedor-superiorder {
    width: 80%;
    
}


/* Estilos para el contenedor inferior */
.contenedor-inferior {
    display: flex;
    
    height: 50%;
    flex: 1;
}

.contenedor-inferiorizq {
    width: 100%;
    height: 100%;
}

.contenedor-inferiorder {
    
}

.production-info {
    margin-top: 20px;
}

/* Estilos de barras circulares */
.circular-progress {
    display: flex;
    
    margin-top: 25px;
}

.progress-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-text {
    font-size: 18px;
    font-weight: bold;
}

/* Estilos del gráfico circular de tiempos de operación */
.time-chart {
    text-align: center;
    margin-top: 20px;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.textbox {
    background-color: #f2fdf6;
    color: #2c4f63;
    font-weight: 700;
    border: none;
    height: 30px;
    width: 80px;
    border: 2px;
    border-radius: 4px;

}

.btn {
    background-color: #969eb1;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    padding: 8px 12px; /* Some padding */
    font-size: 18px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-right: 0px;
  }

#esperadooeetb, #esperadooeetbp2, #esperadooeetbp3, #esperadooeetbp4 {
    border: none;
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px 12px; /* Some padding */
    font-size: 18px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-right: 0px;
    height: 20px;

}

.leds {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
}

.tab {
    display: none;
}

/* Estilo para la pestaña activa */
.active-tab {
    display: block;
}

/* Estilo para los botones de pestaña */
.tab-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
}

/* Estilo para el botón de pestaña activa */
.active-button {
    background-color: #fff;
}

.chistoricos {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}





/* Estilos nuevos */

.toggle3-switch {
    margin:auto;
    position:relative;
    text-align:center;
    font-size:2em;
  }
  .radio1,
  .radio2,
  .radio3 {
    position: absolute;
    /top: -9999px; - don't use may cause focus/scolling issues/
    left: -9999px
  }
  .topLabelContainer{
    margin:auto;
    padding-left:6.5em; /must match .labelLeft width + padding/
  }
  .labelTop1,.labelTop2,.labelTop3{
    width:2em;
    margin:auto;
    padding:0 1px 0 1px;
    display:inline-block;
    text-align:center;
  }
  .labelLeft{
    width:6em;  /must match .topLabelContainer margin-left/
    height:3em;
    padding-right:.5em;
    position:relative;
    display:inline-block; 
    vertical-align:middle;
    text-align:right;
  }
  .sliderContainer{
    height: 2em;
    width: 6em;
    margin: 2px auto;
    position: relative;
    padding: 2px;
    display: inline-block;
  }
  
  
  .label1,
  .label2,
  .label3 {
    height: 100%;
    width: 100%;
    padding: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(200, 200, 200)
  }
  .radio1:checked ~ span .label1,
  .radio1:checked ~ span .label3,
  .radio2:checked ~ span .label1,
  .radio2:checked ~ span .label2,
  .radio3:checked ~ span .label2,
  .radio3:checked ~ span .label3 {
    /*hide labels */
    position: absolute;
    /top: -9999px;/
    left: -9999px
  }
  .slider {
    width: 2em;
    height: 2em;
    margin: 4px;
    position: absolute;
    display: inline-block;
    pointer-events: none; /*ie fallback may be required */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(100,100,100);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .radio2:checked ~ span .slider {
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em);
  }
  
  .radio3:checked ~ span .slider {
    -webkit-transform: translateX(4em);
    -ms-transform: translateX(4em);
    transform: translateX(4em);
  }
  
  .content1{
    height:4em;
    width:100%;
    position:relative;
    display:block;
    margin:0 auto;
    padding:1em;
    text-align:center;
    font-size:1.3em;
    background:beige;
  }
  .content1 p{
    margin:0;
  }
  .labelTop1,
  .radio1:checked ~ .sliderContainer .slider,
  .radio1:checked ~ .content1{
    color:rgb(255,0,0);
  }
  .radio1:checked ~ .topLabelContainer .labelTop1{
    color:white;
    text-shadow: 0 0 1px rgb(255,100,100), 0 0 8px rgb(255,0,0);
  }
  .radio1:checked ~ .sliderContainer .slider{
    background:rgb(255,0,0);
  }
  .labelTop2,
  .radio2:checked ~ .content1{
    color:rgb(255,0,255);
  }
  .radio2:checked ~ .topLabelContainer .labelTop2{
    color:white;
    text-shadow: 0 0 1px rgb(255,50,255), 0 0 6px rgb(255,0,255);
  }
  .radio2:checked ~ .sliderContainer .slider{
    background:rgb(255,0,255);
  }
  .labelTop3,
  .radio3:checked ~ .content1{
    color:rgb(0,0,255);
  }
  .radio3:checked ~ .topLabelContainer .labelTop3{
    color:white;
    text-shadow: 0 0 1px rgb(100,100,255), 0 0 8px rgb(0,0,255);
  }
  .radio3:checked ~ .sliderContainer .slider{
    background:rgb(0,0,255);
  }